@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-spirals {
  background:
    radial-gradient(
      64px at 100% 0,
      #222427 6.25%,
      #1e1f23 6.3% 18.75%,
      #222427 18.8% 31.25%,
      #1e1f23 31.3% 43.75%,
      #222427 43.8% 56.25%,
      #1e1f23 56.3% 68.75%,
      #0000 0
    ),
    radial-gradient(
      64px at 0 0,
      #222427 6.25%,
      #1e1f23 6.3% 18.75%,
      #222427 18.8% 31.25%,
      #1e1f23 31.3% 43.75%,
      #222427 43.8% 56.25%,
      #1e1f23 56.3% 68.75%,
      #0000 0
    ),
    radial-gradient(
      64px at 0 100%,
      #222427 6.25%,
      #1e1f23 6.3% 18.75%,
      #222427 18.8% 31.25%,
      #1e1f23 31.3% 43.75%,
      #222427 43.8% 56.25%,
      #1e1f23 56.3% 68.75%,
      #0000 0
    ),
    radial-gradient(
        64px at 100% 100%,
        #222427 6.25%,
        #1e1f23 6.3% 18.75%,
        #222427 18.8% 31.25%,
        #1e1f23 31.3% 43.75%,
        #222427 43.8% 56.25%,
        #1e1f23 56.3% 68.75%,
        #0000 0
      )
      #222427;
  background-size: 64px 64px;
  background-color: #222427;
}
